.lc-navigation-mb {
  display: none;
  @include breakpoint("md") {
    display: block;
    padding-left: 1.6rem;
    padding-top: 1.7rem;
    ul {
      display: flex;
      flex-wrap: nowrap;
      overflow-y: hidden;
      white-space: nowrap;
    }
    a {
      @include font-ppc(1.4rem, 500, 2rem);
      @include flexCenter();
      color: $gray-700;
      white-space: normal;
      width: 7.8rem;
      height: 4rem;
      min-width: 6rem;
    }
    li {
      padding: 1.2rem 0.8rem;
      text-align: center;
      &.active {
        background-color: $white-100;
        border-radius: 0.8rem 0.8rem 0 0;
        a {
          color: $gray-1000;
        }
      }
    }
  }
}
