@import "../abstracts/variables";

.ui-progress {
  &-line {
    background: $gray-300;
    position: relative;
    overflow: hidden;
    width: 37.6rem;
    height: 1.6rem;
    border-radius: 100rem;
  }
  &-bar {
    float: left;
    height: 100%;
    text-align: right;
    color: $white-100;
    transition: all 0.6s ease-in-out;
    border-radius: 2.4rem;
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #657384;
    span {
      @include font-ppc(1.4rem, 400, 2rem);
      margin-right: 0.8rem;
    }
  }
  &-primary {
    .ui-progress-bar {
      background: linear-gradient(
        315deg,
        $primary-500 14.64%,
        $primary-400 85.36%
      );
    }
  }
  &-error {
    .ui-progress-bar {
      background: linear-gradient(315deg, $error-800 14.64%, $error-700 85.36%);
    }
  }
  &-success {
    .ui-progress-bar {
      background: linear-gradient(315deg, #039836 14.64%, #12b75e 85.36%);
    }
  }
  &-warning {
    .ui-progress-bar {
      background: linear-gradient(
        315deg,
        $warning-700 14.64%,
        $warning-600 85.36%
      );
    }
  }
  &-md {
    height: 0.8rem;
  }
}

.ui-progress-circle {
  display: inline-flex;
  position: relative;
  svg {
    width: 6.4rem;
    height: 6.4rem;
    position: relative;
    z-index: 2;
    transform: rotate(-90deg);
  }
  circle {
    fill: none;
    stroke-width: 0.4rem;
    transition: all 0.6s ease-in-out;
    stroke-dasharray: 188.4px;
    stroke: #657384;
  }
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #52637a;
    font-size: 1.6rem;
  }
  &:before {
    width: 6.4rem;
    height: 6.4rem;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 0.4rem solid #e4eaf1;
    border-radius: 50%;
  }
  &.ui-progress-primary circle {
    stroke: $primary-500;
  }
  &.ui-progress-error circle {
    stroke: $error-800;
  }
  &.ui-progress-success circle {
    stroke: #039836;
  }
  &.ui-progress-warning circle {
    stroke: $warning-700;
  }
  &.ui-progress-md {
    svg {
      width: 3.2rem;
      height: 3.2rem;
    }
    circle {
      stroke-width: 0.2rem;
      stroke-dasharray: 94.2px;
    }
    &:before {
      width: 3.2rem;
      height: 3.2rem;
      border: 0.2rem solid #e4eaf1;
    }
  }
}
