$font-icon-family: "icomoon" !default;
$font-icon-file: "icomoon" !default;
$font-icon-path: "Icon" !default;

$icons: (
  "alert-outline": "\e907",
  "alert": "\e908",
  "arrow-counterclockwise": "\e909",
  "arrow-enter-left": "\e90a",
  "arrow-enter-right": "\e90b",
  "arrow-enter-up": "\e90c",
  "bin": "\e90d",
  "building": "\e90e",
  "building1": "\e90f",
  "calendar": "\e910",
  "call-fill": "\e911",
  "call": "\e912",
  "camera-fill": "\e913",
  "camera-switch": "\e914",
  "camera": "\e915",
  "cart": "\e916",
  "chat-fill": "\e917",
  "chat": "\e918",
  "checkmark": "\e919",
  "chevron-double-down": "\e91a",
  "chevron-double-left": "\e91b",
  "chevron-double-right": "\e91c",
  "chevron-double-up": "\e91d",
  "chevron-left": "\e91e",
  "chevron-right": "\e91f",
  "chevron-up": "\e920",
  "clock-fill": "\e921",
  "clock": "\e922",
  "close-circle": "\e923",
  "close": "\e924",
  "delete-fill": "\e925",
  "delete": "\e926",
  "direction-fill": "\e927",
  "directions": "\e928",
  "discount-shape": "\e929",
  "dislike-fill": "\e92a",
  "dislike": "\e92b",
  "document-copy": "\e92b",
  "document-fill": "\e92b",
  "document": "\e92b",
  "double-tick": "\e92f",
  "drug-store": "\e930",
  "error-circle": "\e931",
  "eye-off": "\e932",
  "eye-tracking-fill": "\e933",
  "eye-tracking": "\e934",
  "eye": "\e935",
  "fast-delivery": "\e936",
  "filter": "\e937",
  "finish1": "\e938",
  "flash-fill": "\e939",
  "flash": "\e93a",
  "freeship": "\e93b",
  "history": "\e93c",
  "home": "\e93d",
  "like-fill": "\e93e",
  "like-outline": "\e93f",
  "like": "\e940",
  "location-fill": "\e941",
  "location": "\e942",
  "money-back": "\e944",
  "navigation": "\e947",
  "package": "\e948",
  "person-fill": "\e949",
  "person": "\e94a",
  "placeholder": "\e94b",
  "plus": "\e94c",
  "process": "\e94d",
  "question-fill": "\e94e",
  "question": "\e94f",
  "reload": "\e950",
  "search": "\e952",
  "star": "\e957",
  "warning": "\e958",
  "minus": "\e900",
  "chevron-down": "\e901",
  "slotout": "\e902",
  "coupon-1-2": "\e962",
  "grid": "\e903",
  "list": "\e904",
);
