@mixin bg-variant($parent, $color, $ignore-warning: false) {
  #{$parent} {
    background-color: $color !important;
  }
}
@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value, true);
}
@each $color, $value in $theme-colors-bg {
  @include bg-variant(".bg-#{$color}", $value, true);
}
.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
